@using Newtonsoft.Json;
@model MODELS.USER.Requests.PostUpdateUserInforRequest

@{ 
    string ModelJson()
    {
        return JsonConvert.SerializeObject(Model);
    }
}

<style>
    .btn-close:hover,
    .btn-back:hover {
        background-color: var(--bs-secondary-bg) !important;
        opacity: 1 !important;
        color: black !important;
    }

    .btn-back {
        width: 32px;
        height: 32px;
        margin: -8px 0 -8px -8px;
    }

        .btn-back i {
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .modal-title {
        color: rgb(5, 5, 5);
        line-height: 1;
    }

    .profile-picture {
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    .user-info {
        display: flex;
        margin-bottom: 48px;
    }

        .user-info img {
            width: 100px;
            height: 100px;
        }

        .user-info span {
            color: rgb(8, 8, 9);
        }

    .ui-datepicker-month,
    .ui-datepicker-year {
        padding: .32rem .75rem;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 10px;
        color: white;
        background-color: #393E46;
    }

    .ui-datepicker-month {
        margin-right: 10px;
    }

    .ui-datepicker-month:focus,
    .ui-datepicker-year:focus {
        /*        border-color: #3b71ca;*/
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    }

    .link-underline-opacity-75-hover:hover {
        text-decoration: underline;
        text-decoration-color: #473c38 !important;
        color: #473c38
    }

    @@media (width <= 768px) {
        .mt-bp-md-3 {
            margin-top: 1rem !important
        }
    }

    .btn.btn-light:hover {
        --mdb-btn-hover-bg: var(--mdb-gray-500);
        --mdb-btn-hover-color: white
    }

    .btn-light:focus {
        background-color: var(--mdb-btn-bg)
    }

</style>

<div class="modal-content">
    <div class="tab-content h-100" id="pills-tabContent">
        <!-- Main Screen -->
        <div class="tab-pane fade show active flex-column justify-content-between h-100"
             id="pills-profile"
             role="tabpanel"
             aria-labelledby="pills-profile-tab"
             tabindex="0">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Thông tin tài khoản</h1>
                <button type="button"
                        class="btn-close btn-link rounded-circle"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark">
                </button>
            </div>
            <div class="modal-body p-0">
                @* Tab Controller - Hidden *@
                <ul class="nav nav-pills mb-3 d-none" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="pills-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-profile"
                                type="button"
                                role="tab"
                                aria-controls="pills-profile"
                                aria-selected="true">
                            Profile
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-update-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-update-profile"
                                type="button"
                                role="tab"
                                aria-controls="pills-update-profile"
                                aria-selected="false">
                            Update Profile
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-update-picture-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-update-picture"
                                type="button"
                                role="tab"
                                aria-controls="pills-update-picture"
                                aria-selected="false">
                            Update Picture
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-confirm-update-picture-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-confirm-update-picture"
                                type="button"
                                role="tab"
                                aria-controls="pills-confirm-update-picture"
                                aria-selected="false">
                            Confirm Update Picture
                        </button>
                    </li>
                </ul>

                <!-- Cover, Profile picture and Name -->
                <div onclick="ShowLightBox('@Model.CoverPicture')"
                     class="position-relative"
                     style="background-image: url('@Model.CoverPicture'); 
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;                            
                            object-fit: cover; width: 100%; height:200px;
                            cursor: pointer">
                    <button type="button" onclick="RenderUpdateProfilePictureTab(1)"
                            class="position-absolute btn btn-light p-2"
                            data-mdb-ripple-init data-mdb-ripple-color="dark"
                            style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                                   right: 10px; bottom: 10px">
                        <i class="fa-solid fa-image"></i>
                    </button>
                </div>

                <div class="p-3 pb-0">
                    <div class="user-info">
                        <div class="position-relative me-3" style="width: 100px">
                            <img src="@Model.ProfilePicture"
                                 class="profile-picture"
                                 onclick="ShowLightBox(this.src)" 
                                 style="cursor: pointer"/>
                            <button type="button" onclick="RenderUpdateProfilePictureTab(0)"
                                    class="position-absolute rounded-circle btn btn-light p-2"
                                    style="right: 0; bottom: -30px; outline: none; 
                                           box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;"
                                    data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <i class="fa-solid fa-camera-retro"></i>
                            </button>
                        </div>
                        <span class="fs-5">@Model.HoVaTen</span>
                    </div>
                </div>

                <hr class="hr m-0 w-100 border-5" />

                <div class="container p-3 pb-0">
                    <div class="row mb-3">
                        <div class="col-12 fw-bold text-black">Thông tin cá nhân</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            Giới tính
                        </div>
                        <div class="col-8 text-black">
                            @Model.GenderString
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            Ngày sinh
                        </div>
                        <div class="col-8 text-black">
                            @Model.DateOfBirthString
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.SoDienThoai))
                    {
                        <div class="row mb-3">
                            <div class="col-4">
                                Số điện thoại
                            </div>
                            <div class="col-8 text-black">
                                @Model.SoDienThoai
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Email))
                    {
                        <div class="row mb-3">
                            <div class="col-4">
                                Email
                            </div>
                            <div class="col-8 text-black">
                                @Model.Email
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button"
                        onclick="$('.btn-back').removeClass('d-none')"
                        id="BtnUpdateProfile"
                        class="btn btn-link fs-6 text-black w-100"
                        data-mdb-ripple-init data-mdb-ripple-color="dark">
                    <i class="fa-regular fa-pen-to-square"></i> Cập nhật
                </button>
            </div>
        </div>

        <!-- Update Profile Screen -->
        <div class="tab-pane fade"
             id="pills-update-profile"
             role="tabpanel"
             aria-labelledby="pills-update-profile-tab"
             tabindex="0">
            @* _UpdateProfilePartial.cshtml *@
        </div>

        <!-- Update Picture Screen -->
        <div class="tab-pane fade"
             id="pills-update-picture"
             role="tabpanel"
             aria-labelledby="pills-update-picture-tab"
             tabindex="0">
            @* _UpdatePicturePartial.cshtml *@
        </div>

        <!-- Confirm Update Picture Screen -->
        <div class="tab-pane fade"
             id="pills-confirm-update-picture"
             role="tabpanel"
             aria-labelledby="pills-confirm-update-picture-tab"
             tabindex="0">
            @* _ConfirmUpdatePicturePartial.cshtml *@
        </div>
    </div>
</div>

@* Chuyển tab *@
<script>
    $(document).ready(function () {
        // Change To Profile Tab
        document.getElementById("BtnUpdateProfile").addEventListener("click", function () {
            RenderUpdateProfileTab();
            let updateProfileTab = new bootstrap.Tab(document.getElementById("pills-update-profile-tab"));
            updateProfileTab.show();
        });
    });

    function RenderUpdateProfileTab() {
        $.ajax({
            url: "@Url.Action("GetUpdateProfile", "Home")",
            type: "GET",
            data: {
                request: '@ModelJson()'
            },
            success: function (data) {
                $('#pills-update-profile').html(data);
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        })
    }

    function RenderUpdateProfilePictureTab(type) {
        event.stopPropagation()
          $.ajax({
            url: "@Url.Action("GetUpdatePicture", "Home")",
            type: "GET",
            data: {
                UserId: '@Model.Id',
                FileType: type // 0 - Profile Picture, 1 - Cover Picture
            },
            success: function (data) {
                $('#pills-update-picture').html(data);
                let updatePictureTab = new bootstrap.Tab(document.getElementById("pills-update-picture-tab"));
                updatePictureTab.show();
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        })
    }

    function RenderConfirmUpdatePictureTab(pictureId, fileType, callBack) {
         $.ajax({
            url: "@Url.Action("GetConfirmUpdatePicture", "Home")",
            type: "GET",
            data: {
                fileid: pictureId,
                filetype: fileType,
            },
            success: function (data) {
                if (data.isSuccess !== undefined && data.isSuccess === false) {
                    ShowThongBaoThatBai(data.message)
                } else {
                    // Cover Picture: modal-lg
                    if (fileType === '1') {
                        $('#modalContainer').addClass('modal-lg');
                    }
                    $('#pills-confirm-update-picture').html(data);
                    callBack();
                }
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        })
    }


    function UpdateProfile() {
        var data = $("#frmUpdateProfile").serializeArray();
        var dateString = data.find(x => x.name === 'DateOfBirth').value
        const [day, month, year] = dateString.split('-');
        data.find(x => x.name === 'DateOfBirth').value = `${year}-${month}-${day}`

        showLoading(true)
        $.ajax({
            url: "@Url.Action("UpdatePersonalInfo", "Home")",
            type: "POST",
            data: $.param(data),
            success: function (response) {
                showLoading(false)
                if (response.isSuccess) {
                    ShowThongBaoThanhCong("Cập nhật thành công")
                    GetProfilePicture();
                    showInforModal();

                } else {
                    ShowThongBaoThatBai(response.message)
                }
            },
            error: function (xhr, error) {
                showLoading(false)
                ShowThongBaoThatBai(error)
            }
        })
    }
</script>