@using Newtonsoft.Json;
@model MODELS.USER.Requests.PostUpdateUserInforRequest

@{ 
    string ModelJson()
    {
        return JsonConvert.SerializeObject(Model);
    }
}

<style>
    .btn-close:hover,
    .btn-back:hover {
        background-color: var(--bs-secondary-bg) !important;
        opacity: 1 !important;
        color: black !important;
    }

    .btn-back {
        width: 32px;
        height: 32px;
        margin: -8px 0 -8px -8px;
    }

        .btn-back i {
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .modal-title {
        color: rgb(5, 5, 5);
        line-height: 1;
    }

    .profile-picture {
        border: 3px solid white;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .user-info {
        display: flex;
        margin-bottom: 48px;
    }

        .user-info img {
            width: 100px;
            height: 100px;
        }

        .user-info span {
            color: rgb(8, 8, 9);
        }

    .ui-datepicker-month,
    .ui-datepicker-year {
        padding: .32rem .75rem;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 10px;
        color: white;
        background-color: #393E46;
    }

    .ui-datepicker-month {
        margin-right: 10px;
    }

    .ui-datepicker-month:focus,
    .ui-datepicker-year:focus {
        /*        border-color: #3b71ca;*/
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    }

    .link-underline-opacity-75-hover:hover {
        text-decoration: underline;
        text-decoration-color: #473c38 !important;
        color: #473c38
    }

    @@media (width <= 768px) {
        .mt-bp-md-3 {
            margin-top: 1rem !important
        }
    }

    .btn.btn-light:hover {
        --mdb-btn-hover-bg: var(--mdb-gray-500);
        --mdb-btn-hover-color: white
    }

    .btn-light:focus {
        background-color: var(--mdb-btn-bg)
    }

</style>

<div class="modal-content">
    <div class="tab-content h-100" id="pills-tabContent">
        <!-- Main Screen -->
        <div class="tab-pane fade show active flex-column justify-content-between h-100"
             id="pills-profile"
             role="tabpanel"
             aria-labelledby="pills-profile-tab"
             tabindex="0">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Thông tin tài khoản</h1>
                <button type="button"
                        class="btn-close btn-link rounded-circle"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark">
                </button>
            </div>
            <div class="modal-body p-0">
                @* Tab Controller - Hidden *@
                <ul class="nav nav-pills mb-3 d-none" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="pills-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-profile"
                                type="button"
                                role="tab"
                                aria-controls="pills-profile"
                                aria-selected="true">
                            Profile
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-update-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-update-profile"
                                type="button"
                                role="tab"
                                aria-controls="pills-update-profile"
                                aria-selected="false">
                            Update Profile
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-update-profile-picture-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-update-profile-picture"
                                type="button"
                                role="tab"
                                aria-controls="pills-update-profile-picture"
                                aria-selected="false">
                            Update Profile Picture
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-update-cover-picture-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-update-cover-picture"
                                type="button"
                                role="tab"
                                aria-controls="pills-update-cover-picture"
                                aria-selected="false">
                            Update Cover Picture
                        </button>
                    </li>
                </ul>

                <!-- Cover, Profile picture and Name -->
                <img src="https://i.pinimg.com/1200x/54/e8/ff/54e8ff9c66575369e57ab0a101cdf18a.jpg"
                     height="200"
                     onclick="ShowLightBox(this.src)"
                     style="object-fit: cover; width: 100%;" />
                <div class="p-3 pb-0">
                    <div class="user-info">
                        <div class="position-relative me-3" style="width: 100px">
                            <img src="@Model.ProfilePicture"
                                 class="profile-picture"
                                 onclick="ShowLightBox(this.src)" />
                            <button id="BtnUpdateProfilePicture"
                                    type="button"
                                    class="position-absolute rounded-circle btn btn-light p-2"
                                    style="right: 0; bottom: -30px; outline: none"
                                    data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <i class="fa-solid fa-camera-retro"></i>
                            </button>
                        </div>
                        <span class="fs-5">@Model.HoVaTen</span>
                    </div>
                </div>

                <hr class="hr m-0 w-100 border-5" />

                <div class="container p-3 pb-0">
                    <div class="row mb-3">
                        <div class="col-12 fw-bold text-black">Thông tin cá nhân</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            Giới tính
                        </div>
                        <div class="col-8 text-black">
                            @Model.GenderString
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            Ngày sinh
                        </div>
                        <div class="col-8 text-black">
                            @Model.DateOfBirthString
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.SoDienThoai))
                    {
                        <div class="row mb-3">
                            <div class="col-4">
                                Số điện thoại
                            </div>
                            <div class="col-8 text-black">
                                @Model.SoDienThoai
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Email))
                    {
                        <div class="row mb-3">
                            <div class="col-4">
                                Email
                            </div>
                            <div class="col-8 text-black">
                                @Model.Email
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button"
                        onclick="$('.btn-back').removeClass('d-none')"
                        id="BtnUpdateProfile"
                        class="btn btn-link fs-6 text-black w-100"
                        data-mdb-ripple-init data-mdb-ripple-color="dark">
                    <i class="fa-regular fa-pen-to-square"></i> Cập nhật
                </button>
            </div>
        </div>

        <!-- Update Profile Screen -->
        <div class="tab-pane fade"
             id="pills-update-profile"
             role="tabpanel"
             aria-labelledby="pills-update-profile-tab"
             tabindex="0">
            @* _UpdateProfilePartial.cshtml *@
        </div>

        <!-- Update Profile Picture Screen -->
        <div class="tab-pane fade"
             id="pills-update-profile-picture"
             role="tabpanel"
             aria-labelledby="pills-update-profile-picture-tab"
             tabindex="0">
            @* _UpdateProfilePicturePartial.cshtml *@
        </div>

        <!-- Update Cover Picture Screen -->
        <div class="tab-pane fade"
             id="pills-update-cover-picture"
             role="tabpanel"
             aria-labelledby="pills-update-cover-picture-tab"
             tabindex="0">
            @* _UpdateCoverPicturePartial.cshtml *@
        </div>
    </div>
</div>

@* Chuyển tab *@
<script>
    $(document).ready(function () {
        // Change To Profile Tab
        document.getElementById("BtnUpdateProfile").addEventListener("click", function () {
            RenderUpdateProfile();
            let updateProfileTab = new bootstrap.Tab(document.getElementById("pills-update-profile-tab"));
            updateProfileTab.show();
        });

        document.getElementById("BtnUpdateProfilePicture").addEventListener("click", function () {
            let updateProfilePictureTab = new bootstrap.Tab(document.getElementById("pills-update-profile-picture-tab"));
            updateProfilePictureTab.show(); 
        });
    });

    function RenderUpdateProfile() {
        $.ajax({
            url: "@Url.Action("GetUpdateProfile", "Home")",
            type: "GET",
            data: {
                request: '@ModelJson()'
            },
            success: function (data) {
                $('#pills-update-profile').html(data);
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        })
    }

    function UpdateProfile() {
        var data = $("#frmUpdateProfile").serialize();
        showLoading(true)
        $.ajax({
            url: "@Url.Action("UpdatePersonalInfo", "Home")",
            type: "POST",
            data: data,
            success: function (response) {
                showLoading(false)
                if (response.isSuccess) {
                    ShowThongBaoThanhCong("Cập nhật thành công")
                    GetProfilePicture();
                    showInforModal();

                } else {
                    ShowThongBaoThatBai(response.message)
                }
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        })
    }
</script>