@model MODELS.USER.Requests.LoginRequest
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<style>
    .link-underline-opacity-75-hover:hover {
        text-decoration: underline;
        text-decoration-color: #473c38 !important;
        color: #473c38
    }

    .divider {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .divider::before, .divider::after {
        flex: 1;
        content: '';
        padding-top: 1px;
        background-color: rgb(79, 79, 79);
        margin: 5px;
    }

    @@media only screen and (max-width: 768px) {
        #Content {
            max-width: 360px;
            margin-bottom: 10px;
        }
        #Title{
            text-align: center
        }
    }
</style>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row align-items-center justify-content-evenly" style="max-width: 1265px">
        <div id="Content" class="col-md-6">
            <div class="row">
                <div id="Title" class="col-md-12">
                    <span style=" font-size: 52px; font-weight: bold; color: #473c38;">LinkU</span>
                </div>
                <div class="col-md-12" style="text-align: justify">
                    <span style="font-size: 24px;">Nơi kết nối và chia sẻ cùng những người quan trọng trong cuộc sống của bạn.</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-white rounded-4" , style="padding: 15px 10px 24px 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; max-width: 360px">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin" }))
            {
                @Html.AntiForgeryToken()
                <div class="d-flex flex-column align-items-center">
                    <div class="input-group">
                        <div class="form-outline p-1 d-flex" data-mdb-input-init>
                            <input type="text" asp-for="Username" class="form-control" readonly/>
                            <label class="form-label" for="Username">Email hoặc số điện thoại*</label>
                            <button type="button" class="btn btn-link btn-sm" onclick="BackToLogin()" data-mdb-ripple-init data-mdb-ripple-color="dark" style="padding-left: 12px; padding-right: 12px">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-outline p-1 d-flex mt-3" data-mdb-input-init>
                        <input type="password" asp-for="Password" class="form-control" />
                        <label class="form-label" for="Password">Mật khẩu</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "align-self: start;" })

                    <button type="submit" class="btn btn-primary w-100 my-3" style="background-color: #473c38; color: white;" data-mdb-ripple-init>Đăng nhập</button>
                    <div class="d-flex w-100 justify-content-between">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
                           href="@Url.Action("Register", "Account")" 
                           style="color: black">
                            Tạo tài khoản mới
                        </a>
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#" style="color: black">
                            Quên mật khẩu?
                        </a>
                    </div>
                </div>
            }
            <div class="divider w-100 my-3">Hoặc</div>
            <button type="button" class="btn btn-outline-dark w-100" data-mdb-ripple-init data-mdb-ripple-color="dark">
                <span class="pe-1">
                    <img src="~/asset/GgIcon.png" height="25" width="25" />
                </span>
                <span class="ps-1">
                    Đăng nhập bằng Google
                </span>
            </button>
        </div>
    </div>                                    
</div>

<script>
    $(document).ready(function () {
        $("#frmLogin").submit(async function (event) {
            event.preventDefault();
            if ($("#frmLogin").valid()) {
                DangNhap();
            }
        });
    });

    function DangNhap() {
        var data = $("#frmLogin").serialize();
        showLoading(true)
        $.ajax({
            url: "@Url.Action("Login", "Account")",
            type: "POST",
            data: data,
            success: function (response) {
                console.log(response)
                showLoading(false)
                if (response.isSuccess) {
                    window.location.href = "@Url.Action("Index", "Home")"
                } else {
                    ShowThongBaoThatBai(response.message)
                }
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        })
    }

    function BackToLogin() {
        window.location.href = "@Url.Action("Login", "Account")" + "?Username=" + $("#Username").val()
    }
</script>
