@model MODELS.USER.Requests.RegisterRequest
@{ 
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<script>
    // Thêm link vào <head> bằng JavaScript
    const link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = '/css/DatePicker.css';
    document.head.appendChild(link);
</script>

<script>
    $.datepicker.setDefaults(
        $.extend(
            $.datepicker.regional['vi']
        )
    );
</script>

<style>
    .form-select:focus {
        border-color: #3b71ca !important
    }

    .ui-datepicker-month,
    .ui-datepicker-year {
        padding: .32rem .75rem;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 10px;
        color: white;
        background-color: #393E46;
    }

    .ui-datepicker-month {
        margin-right: 10px;
    }

    .ui-datepicker-month:focus,
    .ui-datepicker-year:focus{
/*        border-color: #3b71ca;*/
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    }

    .link-underline-opacity-75-hover:hover {
        text-decoration: underline;
        text-decoration-color: #473c38 !important;
        color: #473c38
    }

    @@media (width <= 768px) {
        .mt-bp-md-3 {
            margin-top: 1rem!important
        }
    }

</style>

<div style="width: 543px; justify-self: center; height: 100vh; align-content: center">
    <p style="font-size: 52px; font-weight: bold; color: #473c38; justify-self: center">LinkU</p>
    <div class="card">
        <div class="card-header d-flex flex-column align-items-center" 
             style="padding: 10px 16px; color: black">
            <span style="font-size: 25px; line-height: 32px; font-weight: 600;">Tạo tài khoản mới</span>
            <span style="font-size: 15px; line-height: 24px; color: #606770">Nhanh chóng và dễ dàng</span>
        </div>
        <div class="card-body"
             style="padding: 16px">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRegister" }))
            {    
                @Html.HiddenFor(model => model.IsGoogle)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" asp-for="HoLot" class="form-control" />
                            <label class="form-label" for="HoLot">Họ lót</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.HoLot, "", new { @class = "text-danger", @style = "align-self: start;" })
                    </div>
                    <div class="col-md-6 mt-bp-md-3">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" asp-for="Ten" class="form-control" />
                            <label class="form-label" for="Ten">Tên</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger", @style = "align-self: start;" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="wrapper" style="min-width: 100%">
                            <div class="form-outline" data-mdb-input-init>
                                <input type="text"
                                       asp-for="DateOfBirth"
                                       autocomplete="off"
                                       class="form-control bg-white"
                                       readonly
                                       value="">
                                <label class="form-label" for="DateOfBirth">Ngày sinh</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger", @style = "align-self: start;" })
                    </div>
                    <div class="col-md-6 mt-bp-md-3">
                        <select class="form-select"
                                style="padding: .32rem .75rem; font-size: 1rem;
                                font-weight: 400; line-height: 24px; color: #4f4f4f; border: 1px solid rgb(189, 189, 189)"
                                asp-for="Gender">
                            <option value="">- Giới tính -</option>
                            <option value="1">Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger", @style = "align-self: start;" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" asp-for="Username" class="form-control" />
                            <label class="form-label" for="Username">Email hoặc số điện thoại</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @style = "align-self: start;" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" asp-for="Password" class="form-control" />
                            <label class="form-label" for="Password">Mật khẩu</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "align-self: start;" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" asp-for="ConfirmPassword" class="form-control" />
                            <label class="form-label" for="ConfirmPassword">Xác nhận mật khẩu</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", @style = "align-self: start;" })
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center">
                    <button type="submit"
                            class="btn btn-primary w-100 my-3"
                            style="background-color: #473c38; color: white;"
                            data-mdb-ripple-init>
                        Đăng ký
                    </button>
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       href="@Url.Action("Login", "Account")"
                       style="color: black">
                        Đã có tài khoản ?
                    </a>
                </div>
            }
        </div>

    </div>
</div>

<script>
    $(function () {
        $("#DateOfBirth").datepicker({
            dateFormat: "dd-mm-yy",
            duration: "fast",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });

        $("#DateOfBirth").focus(function (e) {
            if ($("#DateOfBirth").val() === "") {
                $("#DateOfBirth").datepicker("setDate", new Date());
                $("#DateOfBirth").addClass("active")
            }
        });
    });

    $(document).ready(function () {
        $("#frmRegister").submit(async function (event) {
            event.preventDefault();
            if ($("#frmRegister").valid()) {
                DangKy();
            }
        });
    });

    function DangKy() {
        var data = $("#frmRegister").serializeArray();
        var dateString = data.find(x => x.name === 'DateOfBirth').value
        const [day, month, year] = dateString.split('-');
        data.find(x => x.name === 'DateOfBirth').value = `${year}-${month}-${day}`
        showLoading(true)
        $.ajax({
            url: "@Url.Action("Register", "Account")",
            type: "POST",
            data: $.param(data),
            success: function (response) {
                showLoading(false)
                if (response.isSuccess) {
                    ShowThongBaoThanhCong("Đăng ký tài khoản thành công")
                } else {
                    ShowThongBaoThatBai(response.message)
                }
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        })
    }
</script>
