@model MODELS.FRIENDREQUEST.Requests.POSTFriendRequest;
@{ 
    // Name of function: tên của hàm theo các case
    // 1. Gửi lời mời kết bạn
    // 2. Đồng ý yêu cầu kết bạn
    // 3. Hủy yêu cầu kết bạn
    Dictionary<int, string> NOF = new Dictionary<int, string>
    {
        {1, "AddFriend()" },
        {2, $"updateFriendRequest('{Model.Id}', 1)"},
        {3, $"deleteFriendRequest('{Model.Id}')" }
    };

    // Content of button: nội dung của button theo các case
    // 1. Kết bạn
    // 2. Đồng ý
    // 3. Hủy kết bạn
    Dictionary<int, string> COB = new Dictionary<int, string>
    {
        {1, "Kết bạn" },
        {2, "Đồng ý"},
        {3, "Hủy kết bạn" }
    };
}

<style>
    #FriendMessageContent:empty::before {
        content: attr(data-placeholder);
        color: gray;
        pointer-events: none;
    }

    #FriendMessageContent::after {
        content: attr(data-content);
        color: gray;
        pointer-events: none;
    }

    .btn-close:hover,
    .btn-back:hover{
        background-color: var(--bs-secondary-bg) !important;
        opacity: 1!important;
        color: black!important
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button type="button"
                id="btnHome"
                onclick="$('.btn-back').addClass('d-none')"
                class="btn-back btn-link rounded-circle position-relative border-0 bg-white opacity-50 d-none"
                style="width: 32px; height: 32px; margin: -8px 0 -8px -8px"
                data-mdb-ripple-init
                data-mdb-ripple-color="dark">
            <i class="fa-solid fa-chevron-left position-absolute" style="font-size: 16px; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);"></i>
        </button>
        <h1 class="modal-title fs-5" 
            id="staticBackdropLabel" 
            style="color: rgb(5,5,5); line-height: 1">Thông tin tài khoản</h1>
        <button type="button" 
                class="btn-close btn-link rounded-circle" 
                data-bs-dismiss="modal" 
                aria-label="Close"
                data-mdb-ripple-init 
                data-mdb-ripple-color="dark">
        </button>
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="modal-body p-0">
                @* Tab Controller - Hidden *@
                <ul class="nav nav-pills mb-3 d-none" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="pills-home-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-home"
                                type="button"
                                role="tab"
                                aria-controls="pills-home"
                                aria-selected="true">
                            Home
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-profile"
                                type="button"
                                role="tab"
                                aria-controls="pills-profile"
                                aria-selected="false">
                            Profile
                        </button>
                    </li>
                </ul>

                @* Content Main Screen *@
                <img src="@Model.User.CoverPicture"
                     height="200"
                     style="object-fit: cover; width: 100%;"/>
                <div style="padding: 16px">
                    <div style="display: flex; margin-bottom: 48px">
                        <div style="width: 100px; position: relative; margin-right: 16px">
                            <img src="@Model.User.ProfilePicture"
                                 class="rounded-circle;"
                                 height="100" width="100"
                                 style="border: 3px solid white;
                                        border-radius: 50%;
                                        background-color: white;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        -ms-transform: translate(-50%, -50%);
                                        transform: translate(-50%, -50%);
                                        object-fit: cover" />
                        </div>
                        <span class="fs-5"
                              style="color: rgb(8,8,9)">@Model.User.HoVaTen</span>
                    </div>
                    <div id="FriendMessageContainer" 
                            class="rounded position-relative"
                            style="padding: 16px 16px 48px; border: 1px solid lightgray">
                        <div id="FriendMessageContent"
                                contenteditable="@(ViewBag.Case == 1 ? "true" : "false")"
                                data-placeholder="Aa"
                                style="color: rgb(5,5,5);
                                font-size: .9375rem;
                                line-height: 1.34;
                                text-align: left;
                                font-weight: 400;
                                height: 60.3px;
                                outline: 0;
                                overflow-y: auto;
                                overflow-x: hidden;"
                             >
                            @(ViewBag.Case == 1 ? "" : Model.Message)
                        </div>
                        <span id="FriendMessageCount"
                              class="position-absolute"
                              style="right: 16px; 
                                     bottom: 16px; 
                                     pointer-events: none;
                                     line-height: 1;
                                     color: var(--bs-tertiary-color)">@(ViewBag.Case == 1 ? "0" : Model.Message.Length)/150 ký tự</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @* Button change to Info screen *@
                <button type="button" 
                        onclick="$('.btn-back').removeClass('d-none')"
                        class="btn btn-secondary fs-6" 
                        id="btnInfo">Thông tin</button>
                @* Kết bạn button *@
                <button type="button"
                        onclick="@NOF[ViewBag.Case]"
                        class="btn btn-primary fs-6">@COB[ViewBag.Case]</button>
            </div>
        </div>

        @* Secondary Screen - Profile Tab *@
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div class="modal-body p-0">
                @* Tab Controller - Hidden *@
                <ul class="nav nav-pills mb-3 d-none" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="pills-home-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-home"
                                type="button"
                                role="tab"
                                aria-controls="pills-home"
                                aria-selected="true">
                            Home
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="pills-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-profile"
                                type="button"
                                role="tab"
                                aria-controls="pills-profile"
                                aria-selected="false">
                            Profile
                        </button>
                    </li>
                </ul>

                @* Content Main Screen *@
                <img src="@Model.User.CoverPicture"
                     height="200"
                     style="object-fit: cover; width: 100%;" />
                <div style="padding: 16px;">
                    <div class="bg-white"
                         style="display: flex; margin-bottom: 48px">
                        <div style="width: 100px; position: relative; margin-right: 16px">
                            <img src="@Model.User.ProfilePicture"
                                 class="rounded-circle;"
                                 height="100" width="100"
                                 style="border: 3px solid white;
                                border-radius: 50%;
                                background-color: white;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                -ms-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                                object-fit: cover" />
                        </div>
                        <span class="fs-5"
                              style="color: rgb(8,8,9)">@Model.User.HoVaTen</span>
                    </div>
                    
                    <div class="d-flex justify-content-between bg-white">
                        <button type="button"
                                onclick="@NOF[ViewBag.Case]"
                                class="btn btn-light fs-6"
                                style="width: 49%; padding: 10px 12px"
                                data-mdb-ripple-init
                                data-mdb-ripple-color="dark">
                            @COB[ViewBag.Case]
                        </button>
                        <button type="button" 
                                onclick="transToChatScreen('@Model.User.Id'); CloseModal()"
                                class="btn btn-secondary fs-6"
                                style="width: 49%; padding: 10px 12px"
                                data-mdb-ripple-init>Nhắn tin</button>
                    </div>
                </div>
                
                <div class="border-top border-5"
                     style="padding: 16px">
                    <span class="fw-bold"
                          style="font-size: 1rem;">Thông tin cá nhân</span>
                    <div class="row" style="margin: 16px calc(-0.5* var(--mdb-gutter-x));">
                        <div class="col-md-4" style="font-size: .9375rem; color: gray">Giới tính</div>
                        <div class="col-md-8" style="font-size: .9375rem">@Model.User.GenderString</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size: .9375rem; color: gray">Ngày sinh</div>
                        <div class="col-md-8" style="font-size: .9375rem">@Model.User.DateOfBirthString</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
             
@* Chuyển tab *@
<script>
    // Change To Profile Tab
    document.getElementById("btnInfo").addEventListener("click", function () {
        let profileTab = new bootstrap.Tab(document.getElementById("pills-profile-tab"));
        profileTab.show();
    });

    // Chagne To Home Tab
    document.getElementById("btnHome").addEventListener("click", function () {
        let homeTab = new bootstrap.Tab(document.getElementById("pills-home-tab"));
        homeTab.show();
    });
</script>

@* Xử lý *@
<script>
    $(document).ready(function () {
        if ('@ViewBag.Case' === '1') {
            var FriendMessageContent = document.getElementById("FriendMessageContent");
            // Default
            FriendMessageContent.innerHTML = "Xin chào, mình là @User.Claims.FirstOrDefault(c => c.Type == "Name").Value. Kết bạn với mình nhé!"
            $("#FriendMessageCount").html(FriendMessageContent.innerText.length + "/150 ký tự")

            // Xử lý giới hạn ký tự
            FriendMessageContent.addEventListener('input', function (e) {
                // Nếu vượt quá giới hạn ký tự
                if ($(this).text().length > 150) {
                    e.preventDefault();
                }

                // Cập nhật độ dài của Message
                $("#FriendMessageCount").html($(this).text().length + "/150 ký tự")
            });

            // Border setting
            FriendMessageContent.addEventListener("focus", function () {
                document.getElementById("FriendMessageContainer").style.border = "1px solid var(--bs-primary)";
                document.getElementById("FriendMessageContainer").style.boxShadow = "rgba(100, 100, 111, 0.2) 0px 7px 29px 0px";

            });
            FriendMessageContent.addEventListener("blur", function () {
                document.getElementById("FriendMessageContainer").style.border = "1px solid lightgray";
                document.getElementById("FriendMessageContainer").style.boxShadow = "none";
            });
        }
    });

    // Hàm đặt con trỏ về cuối sau khi cắt bớt nội dung
    function placeCaretAtEnd(el) {
        const range = document.createRange();
        const sel = window.getSelection();
        range.selectNodeContents(el);
        range.collapse(false);
        sel.removeAllRanges();
        sel.addRange(range);
    }

    // Hàm tạo yêu cầu kết bạn
    function AddFriend() {
        showLoading(true);
        $.ajax({
            url: '@Url.Action("CreateFriendRequest", "Friend")',
            type: 'POST',
            data: {
                Id: '@Model.Id',
                SenderId: '@User.Claims.FirstOrDefault(c => c.Type == "UserId").Value',
                ReceiverId: '@Model.User.Id',
                Message: $('#FriendMessageContent').text()
            },
            success: function (data) {
                if (data.isSuccess) {
                    CloseModal()
                    ShowThongBaoThanhCong(data.message)
                    // Gửi yêu cầu UpdateFriendRequest để làm mới giao diện người gửi và người nhận
                    connection.invoke("UpdateFriendRequest", '@Model.Id');
                } else {
                    ShowThongBaoThatBai("Gửi lời mời kết bạn thành công")
                }
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        });
        showLoading(false);
    }
</script>
