@{
    ViewData["Title"] = "Trang chủ";
}

<style>
    .text-Functions {
        font-weight: 500;
        color: black;
        font-size: 14px;
        text-transform: none;
        padding: 10px 0;
        text-align: start
    }

    .icon-Functions {
        padding: 12px 12px 12px 4px;
        color: black;
        font-size: 20px
    }

    .btn-Functions {
        margin: 2px 0;
        padding: 0px 8px;
        width: 100%;
        transition: box-shadow 0.2s ease;
    }

    .btn-Functions:hover,
    .btn-ProfilePicture:hover {
        background-color: rgba(0,0,0,0.04);
    }

    .btn-Functions.active {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset!important;
        border-radius: 8px;
        pointer-events: none;
    }

    /* Track */
    #Functions-container::-webkit-scrollbar-track:hover {
        -webkit-box-shadow: none;
    }

    /*Handle*/
    #Functions-container::-webkit-scrollbar-thumb {
        -webkit-box-shadow: none
    }

    #ChatInfo {
        max-height: 100%;
        min-height: 0;
        width: unset;
        max-width: 360px;
        min-width: 300px;
        margin-left: 16px;
        background-color: white;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        display: flex;
        flex: 2;
        overflow: hidden;
    }

    #ChatArea {
        max-height: 100%;
        min-height: 0;
        width: unset;
        max-width: 100%;
        min-width: 300px;
        border-radius: 12px;
        margin-left: 16px;
        display: flex;
        flex: 3;
    }

    /*.btn.btn-light.rounded-circle{
        background-color: rgba(211, 212, 213, 0.6)
    }

    .btn.btn-light.rounded-circle:hover{
        background-color: rgba(211, 212, 213, 1)!important 
    }*/

    #Conversation_SearchInput {
        padding: 4px 12px 4px 2px;
        border: 0;
        font-size: .9375rem;
        font-size: 15px;
        height: 36px;
        background-color: rgba(0,0,0,0)
    }

    #Conversation_SearchInput:focus-visible {
        outline: none;
        box-shadow: none;
    }

</style>

<div class="d-flex"
     style="background-color: rgb(245, 245, 245); height: calc(100vh - 32px)">
    <!-- Chức năng -->
    <div id="Functions" style="width: 240px; min-width: 240px">
        <ul class="nav" role="tablist">
            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        class="btn btn-link d-flex align-items-center btn-Functions active"
                        style="min-width: 100%!important"
                        id="tab-conversation"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-conversation"
                        aria-controls="pills-conversation"
                        aria-selected="true"
                        onclick="SwitchToTabFunctions('tab-conversation')">
                    <i class="fa-regular fa-comment icon-Functions"
                       style=""></i>
                    <span class="text-Functions">Đoạn chat</span>
                </button>
            </li>

            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        class="btn btn-link d-flex align-items-center btn-Functions"
                        style="min-width: 100%!important"
                        id="tab-message-waiting"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-message-waiting"
                        aria-controls="pills-message-waiting"
                        aria-selected="true"
                        onclick="SwitchToTabFunctions('tab-message-waiting')">
                    <i class="fa-regular fa-comment-dots icon-Functions"></i>
                    <span class="text-Functions">Tin nhắn đang chờ</span>
                </button>
            </li>

            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        class="btn btn-link d-flex align-items-center btn-Functions"
                        style="min-width: 100%!important"
                        id="tab-contact"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-contact"
                        aria-controls="pills-contact"
                        aria-selected="true"
                        onclick="SwitchToTabFunctions('tab-contact')">
                    <i class="fa-regular fa-address-book icon-Functions"></i>
                    <span class="text-Functions">Tin nhắn đang chờ</span>
                </button>
            </li>
        </ul>

        <!-- Tên và sidenav -->
        <div id="ProfilePicture"
             style="padding-top: 12px; bottom: 12px; width: 100%; max-width: 240px; background-color: rgb(245, 245, 245)"
             class="d-flex align-items-center position-fixed">
            @* ~/Views/Shared/ConfigProfile/_ProfilePicture.cshtml *@
        </div>
    </div>

    <!-- ChatInfo - Pills content -->
    <div class="tab-content" id="ChatInfo">
        <!-- Conversation -->
        <div class="tab-pane fade show active w-100"
             id="pills-conversation"
             role="tabpanel"
             aria-labelledby="tab-conversation">
            <!-- ~/Views/Home/Conversation/_ConversationPartial.cshtml -->
        </div>

        <!-- Message Waiting -->
        <div class="tab-pane fade w-100"
             id="pills-message-waiting"
             role="tabpanel"
             aria-labelledby="tab-message-waiting">
            Tin nhắn đang chờ<br/>Tính năng đang thực hiện
        </div>

        <!-- Contact -->
        <div class="tab-pane fade w-100"
             id="pills-contact"
             role="tabpanel"
             aria-labelledby="tab-contact">
            <!-- ~/Views/Home/Contact/_ContactPartial.cshtml -->
        </div>
    </div>
    <!-- ChatInfo - Pills content -->

    <!-- Tin nhắn -->
    <div class="tab-content" id="ChatArea">
        <!-- Controller -->
        <ul class="nav d-none" role="tablist">
            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        class="active"
                        id="tab-wellcome"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-wellcome"
                        aria-controls="pills-wellcome"
                        aria-selected="true">
                    <span>Wellcome</span>
                </button>
            </li>

            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        id="tab-chat-message"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-chat-message"
                        aria-controls="pills-chat-message"
                        aria-selected="true">
                    <span>Message</span>
                </button>
            </li>

            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        id="tab-friend"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-friend"
                        aria-controls="pills-friend"
                        aria-selected="true">
                    <span>Friend</span>
                </button>
            </li>

            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        id="tab-group"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-group"
                        aria-controls="pills-group"
                        aria-selected="true">
                    <span>Group</span>
                </button>
            </li>

            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        id="tab-friend-request"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-friend-request"
                        aria-controls="pills-friend-request"
                        aria-selected="true">
                    <span>Friend Request</span>
                </button>
            </li>

            <li class="nav-item w-100" role="presentation">
                <button type="button" role="tab"
                        id="tab-group-request"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-group-request"
                        aria-controls="pills-group-request"
                        aria-selected="true">
                    <span>Group Request</span>
                </button>
            </li>
        </ul>

        <!-- Wellcome -->
        <div class="tab-pane fade show w-100 active"
             id="pills-wellcome"
             role="tabpanel"
             aria-labelledby="tab-wellcome">
            @(Html.Partial("~/Views/Shared/Wellcome.cshtml"))
        </div>

        <!-- Message -->
        <div class="tab-pane fade w-100"
             id="pills-chat-message"
             role="tabpanel"
             aria-labelledby="tab-chat-message">
            <!-- ~/Views/Home/Message/_MessagePartial.cshtml -->
        </div>

        <!-- Friend -->
        <div class="tab-pane fade w-100"
             id="pills-friend"
             role="tabpanel"
             aria-labelledby="tab-friend">
            <!-- ~/Views/Home/Message/_MessagePartial.cshtml -->
            Tab Friend
        </div>
        <!-- Group -->
        <div class="tab-pane fade w-100"
             id="pills-group"
             role="tabpanel"
             aria-labelledby="tab-group">
            <!-- ~/Views/Home/Message/_MessagePartial.cshtml -->
            Tab Group
        </div>

        <!-- Friend Request -->
        <div class="tab-pane fade w-100"
             id="pills-friend-request"
             role="tabpanel"
             aria-labelledby="tab-friend-request">
            <!-- ~/Views/Home/Message/_MessagePartial.cshtml -->
            Tab Friend Request
        </div>

        <!-- Group Request -->
        <div class="tab-pane fade w-100"
             id="pills-group-request"
             role="tabpanel"
             aria-labelledby="tab-group-request">
            <!-- ~/Views/Home/Message/_MessagePartial.cshtml -->
            Tab Group Request
        </div>
    </div>
</div>

<script>
    var BtnPopover;
    $(document).ready(function () {
        renderTabConversation(true)
        renderTabContact(false)
        GetProfilePicture();
        renderTabFriendRequest(false);
    });

    // Hiển thị
    $(window).on('resize', function () {
        changeWidthFocusScreen();
    });

    // Xử lý sự kiện chuyển button
    const buttons = document.querySelectorAll('.btn-Functions');

    // Thêm sự kiện click cho từng button
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            // Loại bỏ class .active khỏi tất cả các button
            buttons.forEach(btn => btn.classList.remove('active'));

            // Thêm class .active cho button vừa được click
            button.classList.add('active');
        });
    })

    // Render ProfilePicture
    function GetProfilePicture() {
        $.get("@Url.Action("GetConfigProfile", "Home")", function (data) {
            $("#ProfilePicture").html(data)
            // Thay đổi giao diện khi lần đầu truy cập vào trang
            changeWidthFocusScreen();

            // Thay đổi Display của Name-ProfilePicture
            if (!($("#Functions").width() > 44)) {
                const NameProfile = document.querySelector("#Name-ProfilePicture")
                NameProfile.style.display = "none";

                // Change Width
                const BtnProfilePicture = document.querySelector(".btn-ProfilePicture")
                BtnProfilePicture.style.width = "100%"
                const SideNav = document.querySelector("#SideNav")
                SideNav.style.width = "100%"

                // Remove margin
                const ImgProfile = document.querySelector("#Img-ProfilePicture")
                ImgProfile.style.margin = "0";
            }
        });
    }

    function ChangeWidthSideNav() {
        const width = $("#Functions").width()
        // Change Flex dir
        const ProfilePicture = document.querySelector("#ProfilePicture");
        const currentDirection = ProfilePicture.style.flexDirection;
        ProfilePicture.style.flexDirection = (currentDirection === "row" || currentDirection === "") ? "column" : "row";

        if (width > 44) {
            $("#Functions").width(44)
            $("#Functions").css("min-width", "44px")
            $("#ProfilePicture").width(44)

            // Hide title
            const elements = document.querySelectorAll(".text-Functions");
            elements.forEach(element => {
                element.style.display = "none";
            });
            const NameProfile = document.querySelector("#Name-ProfilePicture")
            NameProfile.style.display = "none";
            // Remove margin
            const ImgProfile = document.querySelector("#Img-ProfilePicture")
            ImgProfile.style.margin = "0";
            // Change Width
            const BtnProfilePicture = document.querySelector(".btn-ProfilePicture")
            BtnProfilePicture.style.width = "100%"
            const SideNav = document.querySelector("#SideNav")
            SideNav.style.width = "100%"
        } else {
            $("#Functions").width(240)
            $("#Functions").css("min-width", "240px")
            $("#ProfilePicture").width(240)

            const Functions = document.querySelector("#Functions")
            Functions.style.width = "240px"
            const ProfilePicture = document.querySelector("#ProfilePicture")
            ProfilePicture.style.width = "100%"
            // Show title
            const elements = document.querySelectorAll(".text-Functions");
            elements.forEach(element => {
                element.style.display = "block";
            });
            const NameProfile = document.querySelector("#Name-ProfilePicture")
            NameProfile.style.display = "inline";
            // Add margin
            const ImgProfile = document.querySelector("#Img-ProfilePicture")
            ImgProfile.style.margin = "0 6px";
            // Change Width
            const BtnProfilePicture = document.querySelector(".btn-ProfilePicture")
            BtnProfilePicture.style.width = "80%"
            const SideNav = document.querySelector("#SideNav")
            SideNav.style.width = "20%"
        }
    }

    // Lấy ra vùng đang được Focus
    // 1: Conversation
    // 2: Messages
    function getFocusScreen() {
        return 1;
    }

    function changeWidthFocusScreen() {
        // Max width - 900
        if ($(window).width() < 900 && $("#Functions").width() > 44) {
            ChangeWidthSideNav();
        }

        // Màn hình ChatInfo và ChatArea
        if ($(window).width() < 700) {
            if (getFocusScreen() == 1) {
                $("#ChatInfo").show()
                $("#ChatInfo").css("max-width", "100%")
                $("#ChatInfo").css("width", "100%")
                $("#ChatArea").hide()
            } else {
                $("#ChatInfo").hide()
                $("#ChatArea").show()
                $("#ChatArea").css("max-width", "100%")
                $("#ChatArea").css("width", "100%")
            }
        } else {
            $("#ChatInfo").show()
            $("#ChatArea").show()
            // Reset css
            $("#ChatInfo").css("max-width", "360px")
            $("#ChatArea").css("width", "unset")
            $("#ChatArea").css("max-width", "100%")
            $("#ChatArea").css("width", "unset")
        }

        // Button SideNav
        if ($(window).width() < 590) {
            $("#SideNav").hide();
        } else {
            $("#SideNav").show();
        }
    }

    function SwitchToTabFunctions(id) {
        changeFaRularToFaSolid(id)

        let tab = new bootstrap.Tab(document.getElementById(id));
        tab.show();
    }

    function SwitchToTabChatArea(id) {
        switch (id) {
            case "tab-chat-message":
                removeAllBtnContactActive();
                break;
            default:
                removeAllBtnConversationActive();
                break;
        }
        let tab = new bootstrap.Tab(document.getElementById(id));
        tab.show();
    }

    function changeFaRularToFaSolid(screen) {
        // Lấy tất cả các button
        const buttons = document.querySelectorAll('.btn-Functions');

        // Reset tất cả icon về fa-regular và xóa class active
        buttons.forEach(btn => {
            const icon = btn.querySelector('.icon-Functions');
            icon.classList.remove('fa-solid');
            icon.classList.add('fa-regular');
            btn.classList.remove('active');
        });

        // Tìm button được click và thay đổi icon thành fa-solid
        const clickedButton = document.getElementById(screen);
        const clickedIcon = clickedButton.querySelector('.icon-Functions');
        clickedButton.classList.add('active'); // Thêm class active cho button
        clickedIcon.classList.remove('fa-regular');
        clickedIcon.classList.add('fa-solid');
    }

    function showInforModal() {
        $.get('@Url.Action("ShowPersonalInfoModal", "Home")', function (data) {
            ShowModal(data, "md")
        });
    }

    function renderTabConversation(isLoading = false) {
        if (isLoading) {
            showLoading(true)
        }
        $.get('@Url.Action("Index", "Conversation")', function (data) {
            showLoading(false)
            $("#pills-conversation").html(data)
        });
    }

    function renderTabContact(isLoading = false) {
        if (isLoading) {
            showLoading(true)
        }
        $.get('@Url.Action("Index", "Contact")', function (data) {
            showLoading(false)
            $("#pills-contact").html(data)
        });
    }

    function renderTabFriendRequest(isLoading = false) {
        if (isLoading) {
            showLoading(true)
        }
        $.get('friendrequest', function (data) {
            showLoading(false)
            $("#pills-friend-request").html(data)
        });
    }
</script>
