@model MODELS.BASE.GetListPagingResponse
@{
    var Data = Model.Data as List<MODELS.MESSAGE.Dtos.MODELMessage>;
    var TargetUser = ViewBag.TargetUser as MODELS.USER.Dtos.MODELUser;
    var StyleMessage = new Dictionary<bool, string>()
{
        {true, "MyMessage" },
        {false, "OtherMessage" },
    };
    int RowPerPage = ViewBag.RowPerPage;
    int ConversationType = ViewBag.ConversationType ?? 0;
    Guid CurrentUserId = ViewBag.CurrentUserId;
}

@if (Data.Count == 0 && Model.PageIndex == 1 && ConversationType == 0)
{
    <div class="profile-card rounded-5 mb-5">
        <div class="p-3 d-flex" style="">
            <img class="rounded-circle"
                 src="@TargetUser.ProfilePicture"
                 style="min-width: 80px; width: 80px; height: 80px; object-fit: cover;" />
            <div class="d-flex flex-column text-start ms-3 justify-content-center">
                <span class="fw-bold fs-5">@TargetUser.HoVaTen</span>
                <span class="fs-6 FirstMessageSuggestion" style="font-weight: 400">Hãy gửi tin nhắn đầu tiên để bắt đầu cuộc trò chuyện</span>
            </div>
        </div>
        <img src="@TargetUser.CoverPicture"
             height="200"
             style="object-fit: cover; width: 100%;" />
    </div>
}
else
{
    @for (int i = Data.Count - 1; i >= 0; i--)
    {
        <div class="lh-1 py-3"
             style="font-size: 12px">
            @Data[i].DateTime
        </div>
        // Tin nhắn tạo nhóm và thông báo các thay đổi
        if (Data[i].MessageType == 1 || Data[i].MessageType == 2)
        {
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-12">
                    <p class="m-0"
                       style="font-size: 12px;">
                        @Html.Raw(Data[i].Content)
                    </p>
                </div>
            </div>
            if (Data[i].MessageType == 1)
            {
                <div id="welcome-flag" data-call-welcome="1"></div>
            }
        }
        // Tin nhắn thông thường
        else
        {
            <div class="Message_Content row align-items-center @(Data[i].SenderId == CurrentUserId ? "flex-row-reverse" : "")"
                 style="margin-bottom: 12px;"
                 data-userid="@Data[i].SenderId"
                 data-messageid="@Data[i].Id"
                 data-name="@(Data[i].SenderId == CurrentUserId ? "chính mình" : Data[i].Sender.Ten)">
                <div style="width: 48px; align-self: end; display: @(Data[i].SenderId == CurrentUserId ? "none" : "auto")">
                    <img class="rounded-circle border-bottom border-2"
                         src="@(Data[i].Sender.ProfilePicture)"
                         style="height: 38px; width: 38px; object-fit: cover" />
                </div>

                <div class="d-flex flex-column" style="max-width: 70%; width: fit-content;">
                    @* Ref Message *@
                    @if (Data[i].RefId != null && Data[i].RefId != Guid.Empty && Data[i].RefMessage != null)
                    {
                        <div style="color: var(--mdb-gray-700); margin-bottom: -20px; @(Data[i].SenderId == CurrentUserId ? "place-items: flex-end;" : "place-items: flex-start;")">
                            <p style="font-size: 12px; font-weight: 400; line-height: 15px; @(Data[i].SenderId == CurrentUserId ? "padding: 10px 22px 4px 46px;" : "padding: 10px 46px 4px 0;")margin: -2px">
                                <i class="fa-solid fa-reply"></i>
                                @(
                                    (Data[i].SenderId == CurrentUserId ? "Bạn" : Data[i].Sender.Ten)
                                    + " đã trả lời " +
                                    (Data[i].RefMessage.SenderId == CurrentUserId ? (Data[i].SenderId == CurrentUserId ? "chính mình" : "bạn") : (Data[i].SenderId == Data[i].RefMessage.SenderId ? "chính mình" : Data[i].RefMessage.Sender.Ten))
                                )
                            </p>
                            @if (Data[i].RefMessage.MessageType == 0)
                            {
                                <div class="RefMessage" style="max-width: 100%;" onclick="scrollToMessageById('@Data[i].RefMessage.Id')">
                                    <p class="text-truncate"
                                       style="padding: 8px 20px 28px; border-radius: 18px;
                                              background-color: var(--mdb-gray-200); margin: 0;
                                              font-size: 12px; font-weight: 400;
                                              line-height: 16px; color: var(--mdb-gray-700);
                                              max-width: 100%; width: fit-content;">
                                        @Html.Raw(Data[i].RefMessage.Content)
                                    </p>
                                </div>
                            }
                            else if (Data[i].RefMessage.MessageType == 3)
                            {
                                @switch (Data[i].RefMessage.MediaFile.FileType)
                                {
                                    case (int)MODELS.COMMON.MediaFileType.ChatImage:
                                        {
                                            // Hình vuông
                                            if (Data[i].RefMessage.MediaFile.Shape == (int)MODELS.COMMON.ShapeType.Square)
                                            {
                                                <img class="BorderLeft BorderRight RefMessage"
                                                     onclick="scrollToMessageById('@Data[i].RefMessage.Id')"
                                                     src="@Data[i].RefMessage.MediaFile.Url"
                                                     height="100" width="100"
                                                     style="object-fit: fill; filter: contrast(0.5); background-color: lightgray" />
                                            }
                                            // Hình chữ nhật ngang
                                            else if (Data[i].RefMessage.MediaFile.Shape == (int)MODELS.COMMON.ShapeType.Landscape)
                                            {
                                                <img class="BorderLeft BorderRight RefMessage"
                                                     onclick="scrollToMessageById('@Data[i].RefMessage.Id')"
                                                     src="@Data[i].RefMessage.MediaFile.Url"
                                                     height="354" width="236"
                                                     style="object-fit: fill; filter: contrast(0.5);
                                                            background-color: lightgray; max-height: 100px; max-width: calc(100px * 3 / 2)" />
                                            }
                                            // Hình chữ nhật dọc
                                            else if (Data[i].RefMessage.MediaFile.Shape == (int)MODELS.COMMON.ShapeType.Portrait)
                                            {
                                                <img class="BorderLeft BorderRight RefMessage"
                                                     onclick="scrollToMessageById('@Data[i].RefMessage.Id')"
                                                     src="@Data[i].RefMessage.MediaFile.Url"
                                                     height="236" width="354"
                                                     style="object-fit: fill; filter: contrast(0.5);
                                                            background-color: lightgray; max-height: 100px; max-width: calc(100px * 2 / 3)" />
                                            }
                                            // Invalid: Hiển thị tệp
                                            else
                                            {
                                                <div class="RefMessage" style="max-width: 100%"
                                                     onclick="scrollToMessageById('@Data[i].RefMessage.Id')">
                                                    <p class="text-truncate"
                                                       style="padding: 8px 20px 28px; border-radius: 18px;
                                                              background-color: var(--mdb-gray-200); margin: 0;
                                                              font-size: 12px; font-weight: 400;
                                                              line-height: 16px; color: var(--mdb-gray-700);
                                                              max-width: 100%; width: fit-content;">
                                                        File đính kèm <i class="fa-solid fa-paperclip"></i>
                                                    </p>
                                                </div>
                                            }
                                            break;
                                        }
                                    // Hiển thị video
                                    case (int)MODELS.COMMON.MediaFileType.ChatVideo:
                                    {
                                        <div class="RefMessage" style="position: relative" onclick="scrollToMessageById('@Data[i].RefMessage.Id')">
                                            <video class="BorderLeft BorderRight"
                                                   src="@Data[i].RefMessage.MediaFile.Url"
                                                   height="354" width="236"
                                                   style="object-fit: fill; filter: contrast(0.5);
                                                        background-color: lightgray; max-height: 100px; max-width: calc(100px * 3 / 2)">
                                            </video>
                                            <i class="fa-regular fa-circle-play text-white position-absolute-center fs-4"></i>
                                        </div>
                                        break;
                                    }
                                    // Hiển thị các tệp khác
                                    default:
                                    {
                                        <div class="RefMessage" style="max-width: 100%" onclick="scrollToMessageById('@Data[i].RefMessage.Id')">
                                            <p class="text-truncate"
                                               style="padding: 8px 20px 28px; border-radius: 18px;
                                                      background-color: var(--mdb-gray-200); margin: 0;
                                                      font-size: 12px; font-weight: 400;
                                                      line-height: 16px; color: var(--mdb-gray-700);
                                                      max-width: 100%; width: fit-content;">
                                                File đính kèm <i class="fa-solid fa-paperclip"></i>
                                            </p>
                                        </div>
                                        break;
                                    }
                                }
                            }
                        </div>
                    }

                    <div class="d-flex flex-column" style="z-index: 4">
                        @if (ConversationType == 1 && Data[i].SenderId != CurrentUserId && (Data[i].RefId == null || Data[i].RefId == Guid.Empty))
                        {
                            <div class="w-100 text-start" style="padding-left: 12px">
                                <span class="text-muted" style="font-size: .75rem; font-weight: 400">@Data[i].Sender.Ten</span>
                            </div>
                        }
                        @* Content *@
                        <div class="d-flex @(Data[i].SenderId == CurrentUserId ? "flex-row-reverse" : "")">
                            @if (Data[i].MessageType == 0)
                            {
                                <p class="m-0 @StyleMessage[Data[i].SenderId == CurrentUserId]"
                                   style="font-size: 14px;
                                        width: fit-content;
                                        padding: 8px 12px;
                                        border-radius: 18px;
                                        text-align: justify;
                                        font-weight: 400;
                                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; ">
                                    @Html.Raw(Data[i].Content)
                                </p>
                            }
                            else if (Data[i].MessageType == 3)
                            {
                                <div class="m-0 rounded-2 @StyleMessage[Data[i].SenderId == CurrentUserId]
                                            @(Data[i].SenderId == CurrentUserId ? "BorderLeft" : "BorderRight")"
                                     style="width: fit-content; overflow: hidden; background-color: unset; line-height: 1">
                                    @switch (Data[i].MediaFile.FileType)
                                    {
                                        case (int)MODELS.COMMON.MediaFileType.ChatImage:
                                            {
                                                // Hình vuông
                                                if (Data[i].MediaFile.Shape == (int)MODELS.COMMON.ShapeType.Square)
                                                {
                                                    <img class="FilePreview"
                                                         width="2000" height="2000"
                                                         src="@Data[i].MediaFile.Url"
                                                         onclick="ShowLightBox(this.src)"
                                                         style="object-fit: fill; max-width: 200px; max-height: 200px" />
                                                }
                                                // Hình chữ nhật ngang
                                                else if (Data[i].MediaFile.Shape == (int)MODELS.COMMON.ShapeType.Landscape)
                                                {
                                                    <img class="FilePreview"
                                                         height="414" width="736"
                                                         src="@Data[i].MediaFile.Url"
                                                         onclick="ShowLightBox(this.src)"
                                                         style="object-fit: fill; max-height: 200px; max-width: calc(200px * 16 / 9)" />
                                                }
                                                // Hình chữ nhật dọc
                                                else if (Data[i].MediaFile.Shape == (int)MODELS.COMMON.ShapeType.Portrait)
                                                {
                                                    <img class="FilePreview"
                                                         height="800" width="566"
                                                         src="@Data[i].MediaFile.Url"
                                                         onclick="ShowLightBox(this.src)"
                                                         style="object-fit: fill; max-height: 200px; max-width: calc(200px * 9 / 16)" />
                                                }
                                                // Invalid: Hiển thị tệp
                                                else
                                                {
                                                    <a href="@($"/Home/DownloadFile?fileName={System.IO.Path.GetFileName(Data[i].MediaFile.Url)}")" download style="text-decoration: none;">
                                                        <div class="d-flex align-items-center OtherFile"
                                                             style="background-color: rgb(225.6, 233.7, 247.05); cursor: pointer">
                                                            <div style="padding-left: 12px">
                                                                <div class="bg-white rounded-circle"
                                                                     style="padding: 0 10px">
                                                                    <i class="fa-solid fa-file-lines text-black" style="line-height: 32px; font-size: 16px"></i>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column" style="margin: 12px 16px 12px 12px; text-align: justify;">
                                                                <span class="text-black"
                                                                      style="line-height: 20px; font-size: 14px;
                                                font-weight: 600; margin: 5px 0;
                                                display: -webkit-box; -webkit-box-orient: vertical;
                                                -webkit-line-clamp: 3;
                                                overflow: hidden">
                                                                    @Data[i].MediaFile.FileName
                                                                </span>
                                                                <span style="font-weight: 400; font-size: 12px; color: rgba(0,0,0,.55); margin: 5px 0">
                                                                    @Data[i].MediaFile.FileLengthText
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                }
                                                break;
                                            }
                                        // Hiển thị video
                                        case (int)MODELS.COMMON.MediaFileType.ChatVideo:
                                            {
                                                <video class="FilePreview"
                                                       preload="metadata" controls
                                                       style="max-height: 200px; max-width: calc(200px * 16 / 9); line-height: 1">
                                                    <source src="@Data[i].MediaFile.Url">
                                                </video>
                                                break;
                                            }
                                        // Hiển thị các tệp khác
                                        default:
                                            {
                                                <a href="@($"/Home/DownloadFile?fileName={System.IO.Path.GetFileName(Data[i].MediaFile.Url)}")" download style="text-decoration: none;">
                                                    <div class="d-flex align-items-center OtherFile"
                                                         style="background-color: rgb(225.6, 233.7, 247.05); cursor: pointer">
                                                        <div style="padding-left: 12px">
                                                            <div class="bg-white rounded-circle"
                                                                 style="padding: 0 10px">
                                                                <i class="fa-solid fa-file-lines text-black" style="line-height: 32px; font-size: 16px"></i>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-column" style="margin: 12px 16px 12px 12px; text-align: justify;">
                                                            <span class="text-black"
                                                                  style="line-height: 20px; font-size: 14px;
                                                font-weight: 600; margin: 5px 0;
                                                display: -webkit-box; -webkit-box-orient: vertical;
                                                -webkit-line-clamp: 3;
                                                overflow: hidden">
                                                                @Data[i].MediaFile.FileName
                                                            </span>
                                                            <span style="font-weight: 400; font-size: 12px; color: rgba(0,0,0,.55); margin: 5px 0">
                                                                @Data[i].MediaFile.FileLengthText
                                                            </span>
                                                        </div>
                                                    </div>
                                                </a>
                                                break;
                                            }
                                    }
                                </div>
                            }

                            <div style="position: relative; width: 10px">
                                <div class="Message_Interaction">
                                    <button type="button"
                                            class="btn btn-floating"
                                            style="width: 28px; height: 28px; --mdb-btn-hover-bg: hsl(0, 0%, 90%); --mdb-btn-color: var(--mdb-gray-600); --mdb-btn-hover-color: var(--mdb-gray-600); box-shadow: unset"
                                            data-mdb-ripple-init
                                            data-mdb-ripple-color="dark"
                                            data-content="Bày tỏ cảm xúc">
                                        <i class="fa-regular fa-face-smile" style="font-size: 14px"></i>
                                    </button>
                                    <button type="button" onclick="ShowResponseMessageContainer('@Data[i].Id')"
                                            class="btn btn-floating"
                                            style="width: 28px; height: 28px; --mdb-btn-hover-bg: hsl(0, 0%, 90%); --mdb-btn-color: var(--mdb-gray-600); --mdb-btn-hover-color: var(--mdb-gray-600); box-shadow: unset"
                                            data-mdb-ripple-init
                                            data-mdb-ripple-color="dark"
                                            data-content="Trả lời">
                                        <i class="fa-solid fa-reply" style="font-size: 14px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div style="width: calc(30% - 48px);"></div>
            </div>
        }
    }
}
